.bp-pinned-feed-notice-wrapper {
	list-style: none;
	padding: 0;
	margin: 0;
}

.bp-pinned-feed-notice-wrapper .bp-pinned-feed-notice {
	border: 1px solid #E7E9EC;
	background-color: #fff;
	border-radius: 4px;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0 6px 24px 0 rgba(18,43,70,0);
	font-size: 14px;
	line-height: 1.5;
	position: relative;
	color: #333;
}

.bp-pinned-feed-notice-wrapper .bp-pinned-feed-notice p {
	margin-bottom: 14px;
}

.bp-pinned-feed-notice-wrapper .bp-pinned-feed-notice p:first-of-type{
	margin-top: 0;
}
.bp-pinned-feed-notice-wrapper .bp-pinned-feed-notice p:last-of-type{
	margin-bottom: 0;
}
.bp-pinned-feed-notice-wrapper .bp-pinned-feed-notice .remove-notification{
	position: absolute;
	right: 10px;
	top: 6px;
	color: #000;
	cursor: pointer;
}

